@page
@model CoreWebApp.Views.ManageModel
@{
    ViewData["Title"] = "Add Learning Data";
}

<div class="text-center">
    <h1 class="display-4">Woop Woop</h1>
</div>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="number">Number:</label>
        <input type="text" class="form-control" id="number" asp-for="LearningData.Number">
        <span asp-validation-for="LearningData.Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" asp-for="LearningData.Name">
        <span asp-validation-for="LearningData.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" asp-for="LearningData.Description">
        <span asp-validation-for="LearningData.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="custom-file mb-3">
            <label class="custom-file-label" id="customFileLabel" for="customFile">Choose file</label>
            <input type="file" class="custom-file-input" id="customFile" name="filename">
        </div>
    </div>
    <div class="form-group">
        <input type="text" id ="base64placeholder" value="" asp-for="LearningData.ImageData" />
        <span asp-validation-for="LearningData.ImageData" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="text" id="filenameplaceholder" value="" asp-for="LearningData.ImageTitle" />
        <span asp-validation-for="LearningData.ImageTitle" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="SubmitButton">Submit</button>
</form>

@section Scripts{

    <script>
        function encodeImageFileAsURL(callback) {
            return function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    callback(reader.result, file);
                }
                reader.readAsDataURL(file);
            }
        }

        $('#customFile').change(encodeImageFileAsURL(function (base64Img, file) {

            var fileName = file.name.split("\\").pop();
            $('.custom-file-label').addClass('selected').html(fileName);
            $('#base64placeholder')
                .val(base64Img)
                .end();
            $('#filenameplaceholder')
                .val(fileName)
                .end();
        }));
    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}